{% extends 'base.html.twig' %}

{% block title %}Liste des y{% endblock %}

{% block body %}
    <h1>Liste des y</h1>

    {% for post in posts %}
        {% embed '_composants/_card.html.twig' %}
            {% block title %}
                <a href="{{ path('front_post_show', {'id': post.id}) }}">
                    <h2>{{ post.content }}</h2>
                </a>
            {% endblock %}
            {% block body %}
                <em>Créé le {{ post.createdAt|date('d/m/y à H:i') }}</em> <br>

                {% if (is_granted('ROLE_MODERATOR') or post.owner == app.user) %}
                    <a href="{{ path('front_post_update', {'id': post.id}) }}">Editer</a>
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% else%}
        Aucun post
    {% endfor %}
{% endblock %}
